/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: "Tajawal", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  img {
    @apply w-full;
  }

  .section {
    @apply container mx-auto py-24 px-6;
  }
  .container-v {
    @apply max-w-[85%] m-auto;
  }

  .icon {
    @apply w-10 h-10 leading-10 rounded-full text-center bg-[#ffffff4d] text-white transition;
  }
  .icon:hover {
    @apply cursor-pointer bg-Teal text-white;
  }
  .row-v {
    @apply w-1/2;
  }
  .animate-slide:hover {
    animation-play-state: paused;
  }

  .button {
    @apply py-4 px-8 bg-white text-Teal font-semibold border-none mt-8 mr-3 ml-0 mb-0 rounded-sm cursor-pointer shadow-md transition;
  }
  .button svg {
    @apply ml-5;
  }
  .button:hover {
    @apply shadow-none;
  }
  .btn-primary {
    @apply bg-Teal text-white;
  }
  .heading {
    @apply text-center py-10 px-0;
  }
  .heading h3 {
    @apply font-semibold tracking-wide text-white uppercase;
  }
  .heading h1 {
    @apply text-4xl my-5 mx-0 capitalize;
  }
  p {
    @apply text-xl;
  }
  .banner {
    @apply bg-[url(../public/images/bg.webp)] bg-contain sm:bg-cover bg-fixed absolute top-0 left-0 -z-10 w-full pt-[30%] text-white text-center;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer components {
  .form-textbox {
    @apply px-4 py-2 border border-[#9ca3af] rounded-md focus:outline-none focus:ring;
  }
}

.PhoneInputInput {
  outline: none;
}
.rdp-vhidden {
  display: none;
}
